 *{  
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 2em;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.nav-item{
    margin:10px;
    width:100%;
    height:100%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:aqua;
}

.background{
    width: 100%;
    z-index: -1;
    position: fixed;
    margin-top:-200px;

}
.feauture{
    height: 3em;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 10em;
    z-index: 1;
    margin-bottom:auto;
}
.eventheader{
    background-color: white;
    color:lightgrey;
    display:flex;
    justify-content: center;
    height:100px;
}

h2{
    width: 50%;
    background-color: rgb(178, 178, 178);
    color: black;
    border: 5px;
    border-color: black;
}


.events{
    width: 100%;
}


.wrap-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border:grey;
    border:3px;
    
    padding-top: 20px;
    
    
}

.wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    border:10px;
    border: lightgrey;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    border:10px;
    border-color: aqua;
}

p1{
    padding-left:60px;
    font-size: larger;
    height: fit-content;
}


button{
    background-color: rgb(251, 169, 54);
    color: white;
    height: fit-content;
    padding: 20px;
    margin-left: 50px;

}


footer{
    margin-bottom: 0px;
    width: 100%;

}

.bottom{
    background-color: black;
    color:white;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.map{
    width:250px;
    padding:2%;
    padding-left: 100px;
}

.mapimg{
    width:250px;
}

.footinfo{
    display: flex;
    flex-direction: column;
    width:25%;
}

.footshows{
    display: flex;
    flex-direction: column;
    width:25%;
}

.social{
    display: flex;
    flex-direction: column;
    width:25%;
}

.foothead{
    font-size: 2em;
}

.tiny{
    padding:10px;
}